<a class="notepad-blog-logo" href="/{{ page.lang }}">
  <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo">
</a>
<div class="notepad-blog-menu">
  <div class="notepad-mobile-menu show-for-small">
      <a href="#"><i class="fa fa-bars"></i></a>
  </div>
  <ul class="notepad-menu">
      <li class="notepad-mobile-close-btn show-for-small text-right">
          <a href="#"><i class="fa fa-times"></i></a>
      </li>
      {% for menu in site.t[page.lang] %}
        <li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
      {% endfor %}
  </ul>
</div>
